# Python Nonsense #
###################
__pycache__/
*.py[cod]
*$py.class

# Random Specific Files (TODO: Remove at end of project) #
##########################################################
*BluetoothLib.py
